<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cyberbullying Detection</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
</head>

<body>
  <div class="container">
    <h1>Cyberbullying Detection</h1>
    <form action="/predict" method="POST" class="input-area">
        <input type="text" name="message" placeholder="Enter a tweet" required>
        <button type="submit">Detect</button>
      </form>
    <div class="illustration">
      <img src="../static/images/bg image.png" alt="Cyberbullying Illustration">
    </div>
  </div>
</body>

</html>
